<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supplierServlet</servlet-name>
        <servlet-class>controller.supplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>controller.orderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editStockServlet</servlet-name>
        <servlet-class>controller.editStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salesOverviewServlet</servlet-name>
        <servlet-class>controller.salesOverviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>controller.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveOrderServlet</servlet-name>
        <servlet-class>controller.saveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStockServlet</servlet-name>
        <servlet-class>controller.deleteStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eeditStockServlet</servlet-name>
        <servlet-class>controller.eeditStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <servlet-class>controller.QuantityIncDecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentHistory</servlet-name>
        <servlet-class>controller.paymentHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supplierServlet</servlet-name>
        <url-pattern>/supplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStockServlet</servlet-name>
        <url-pattern>/editStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salesOverviewServlet</servlet-name>
        <url-pattern>/salesOverviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveOrderServlet</servlet-name>
        <url-pattern>/saveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStockServlet</servlet-name>
        <url-pattern>/deleteStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eeditStockServlet</servlet-name>
        <url-pattern>/eeditStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <url-pattern>/QuantityIncDecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentHistory</servlet-name>
        <url-pattern>/paymentHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
